- extends "form_base.haml"

- load i18n

- block heading
  - trans "Register"

- block buttons
  %button{type: "submit"}
    - trans "Signup"
  %a{href: "{% url 'account:login' %}"}
    - trans "Login"
